In [6]:
pip install folium

Requirement already satisfied: folium in c:\users\hp\anaconda3\lib\site-packages (0.14.0)
Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (from folium) (1.23.5)
Requirement already satisfied: jinja2>=2.9 in c:\users\hp\anaconda3\lib\site-packages (from folium) (3.1.2)
Requirement already satisfied: branca>=0.6.0 in c:\users\hp\anaconda3\lib\site-packages (from folium) (0.6.0)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (from folium) (2.28.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\hp\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests->folium) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\hp\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests->folium) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests->folium) (3.4)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import folium
import csv
import pandas as pd

In [11]:
df = pd.read_csv('201902-fordgobike-tripdata.csv.zip')
df.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,52185,2019-02-28 17:32:10.1450,2019-03-01 08:01:55.9750,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,13.0,Commercial St at Montgomery St,37.794231,-122.402923,4902,Customer,1984.0,Male,No
1,42521,2019-02-28 18:53:21.7890,2019-03-01 06:42:03.0560,23.0,The Embarcadero at Steuart St,37.791464,-122.391034,81.0,Berry St at 4th St,37.775880,-122.393170,2535,Customer,NaN,NaN,No
2,61854,2019-02-28 12:13:13.2180,2019-03-01 05:24:08.1460,86.0,Market St at Dolores St,37.769305,-122.426826,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,5905,Customer,1972.0,Male,No
3,36490,2019-02-28 17:54:26.0100,2019-03-01 04:02:36.8420,375.0,Grove St at Masonic Ave,37.774836,-122.446546,70.0,Central Ave at Fell St,37.773311,-122.444293,6638,Subscriber,1989.0,Other,No
4,1585,2019-02-28 23:54:18.5490,2019-03-01 00:20:44.0740,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,222.0,10th Ave at E 15th St,37.792714,-122.248780,4898,Subscriber,1974.0,Male,Yes

In [17]:

start_station_counts = df.groupby(['start_station_name', 'start_station_latitude', 'start_station_longitude']).size().reset_index(name='Number of Rides')


print(start_station_counts)

                                    start_station_name  \
0                                10th Ave at E 15th St
1                                 10th St at Fallon St
2                            10th St at University Ave
3                                 11th St at Bryant St
4                                 11th St at Natoma St
..                                                 ...
324                             Williams Ave at 3rd St
325                          Williams Ave at Apollo St
326                               Willow St at Vine St
327                        Woolsey St at Sacramento St
328  Yerba Buena Center for the Arts (Howard St at ...

     start_station_latitude  start_station_longitude  Number of Rides
0                 37.792714              -122.248780               57
1                 37.797673              -122.262997              353
2                 37.869060              -122.293400              190
3                 37.770030              -122.411726              828
4                 37.773507              -122.416040              868
..                      ...                      ...              ...
324               37.729279              -122.392896               50
325               37.730168              -122.398963               25
326               37.318450              -121.883172                9
327               37.850578              -122.278175              359
328               37.784872              -122.400876              877

[329 rows x 4 columns]

In [19]:

station_counts = df['start_station_name'].value_counts()

most_popular_station = station_counts.idxmax()
most_popular_rides = station_counts.max()

least_popular_station = station_counts.idxmin()
least_popular_rides = station_counts.min()

average_rides_per_station = station_counts.mean()

print("Most Popular Station:", most_popular_station)
print("Number of Rides (Most Popular):", most_popular_rides)
print("Least Popular Station:", least_popular_station)
print("Number of Rides (Least Popular):", least_popular_rides)
print("Average Rides Per Station:", average_rides_per_station)

Most Popular Station: Market St at 10th St
Number of Rides (Most Popular): 3904
Least Popular Station: 16th St Depot
Number of Rides (Least Popular): 2
Average Rides Per Station: 556.8844984802431

In [32]:

city_latitude = df['start_station_latitude'].mean()
city_longitude = df['start_station_longitude'].mean()

bike_share_map = folium.Map(location=[city_latitude, city_longitude], zoom_start=13)

In [33]:
map_center = [37.77, -122.42] 
bike_map = folium.Map(location=map_center, zoom_start=13)

In [34]:
def marker_color(num_rides):
    if num_rides < 100:
        return 'green'
    elif num_rides < 500:
        return 'orange'
    else:
        return 'red'

In [ ]:

for index, station in df.iterrows():
    folium.Marker(
        location=[station['start_station_latitude'], station['start_station_longitude']],
        popup=f"Station: {station['start_station_name']}<br>Rides: {station[10]}",
        icon=folium.Icon(color=marker_color(station[11]))
    ).add_to(bike_share_map)

In [ ]:

bike_share_map.save("bike_share_map.html")